@import url('https://fonts.googleapis.com/css2?family=Imbue:wght@200&display=swap');    

body{
    font-family: 'Imbue', serif;
    font-size: x-large;
}

nav{
    font-size: xx-large;
}

#pp{
    height: 10rem;
    border-radius: 100%;
}

#mailbtn{
    width: 15rem;
}

.abti{
    height: 9rem;
}

.fami{
    height: 10rem;
    width: 100%;   
}

#fn:focus, #ln:focus, #email:focus, #tel:focus{
    background: #f5cb42;
}

#btsub:hover{
    background-color: darkorchid;
    cursor: pointer;
}

.blimage{
    width: 100%;
    height: 300px;
}

.favim{
    width: 100%;
    height: 20rem;
}